.container-fluid {
    padding: 0px;
    margin: 0px;
    box-shadow: 0px 0px 10px #888;
    min-height: 800px;
    background: rgb(192, 192, 192);
  }

.nav-link{

    font-weight: bold;
    color:rgb(41, 41, 41);
}

.nav-link:hover{

    color: lightgreen;
}

.img-fluid{

    height: 800px;
    background-color: rgb(192, 192, 192);
}

h5{
    color: royalblue;
}

.technology-image{

    height: 100px;
}

.list{

    list-style-type: none;
}

.list a{
 
    font-weight: bold;
    text-decoration:none;
    color: #333;
}

.list a:hover{

    color: rgb(44, 143, 44);
}