* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

body {
  background: rgb(192, 192, 192);
}

@keyframes title-highlight {
  to {
    color: #33d;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#navbar{
  margin: -12px;
}

#main-name {
  animation: show 2s, title-highlight 3s 2s forwards;
}

#main-image {
  animation: show 2s;
  height: 50%;
}

#contact {
  animation: show 3.5s;
}

.about{
  animation: show 2s;
}

.content {
  animation: show 2s;
}

.technologies{
  animation: show 2s;
}

.nav-link {
  font-weight: bold;
  color: rgb(41, 41, 41);
}

.nav-link:hover {
  color: lightgreen !important;
}

.img-fluid {
  background-color: rgb(192, 192, 192);
}

h5, h3 {
  color: royalblue;
}

.technology-image {
  height: 80px;
  width: auto;
}

.HTML5{
  animation: show 1.2s;
}

.CSS{
  animation: show 1.6s;
}

.JavaScript{
  animation: show 2s;
}

.JQuery{
  animation: show 2.4s;
}

.JSON{
  animation: show 2.8s;
}

.XML{
  animation: show 3.2s;
}

.PHP {
  animation: show 3.6s;
}

.MySQL{
  animation: show 4s;
}

.list {
  list-style-type: none;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.list a:hover {
  color: rgb(44, 143, 44);
}

.lang {
  
  color: #999;
}

.lang:hover{

  color: lightgreen;
}